@import '../../Variables.scss';

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  // padding: 1% 3%;
}

.login {
  display: flex;
  width: 100%;
  height: 100%;
  color: $color-secondary;
}

.login__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: inherit;
  background-color: $color-secondary;
  img {
    width: 500px;
  }
}

.login__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: inherit;
  padding: 0 6.5%;
  h1 {
    font-size: $medium-title;
    margin-bottom: 16%;
  }
}

.log {
  display: flex;
  flex-direction: column;
}

.input {
  border-style: none;
  border-bottom: 1px solid black;
  outline: none;
}

label {
  margin-bottom: 4.2%;
}

.name {
  margin-bottom: 41px;
}

input[type=submit] {
  @include boton_detail;
  width: 100%;
  height: 55px;
  font-size: $body-2;
  margin-top: 16%;
}