@import '../../Variables.scss';

.main {
  display: grid;
  grid-template-columns: 3% 1fr 1fr 3%;
  grid-template-rows: 2% 4% 6% 1fr 5% 10%;
  width: 100vw;
  height: 100vh;
}
.main__navbar {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.main__listOfRooms {
  grid-column: 2/3;
  grid-row: 4/5;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 7px;
    background: rgb(228, 228, 228);
  }
  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 7px;
  }
}
.main__title {
  grid-column: 3/4;
  grid-row: 4/5;
  color: $color-secondary;
  text-align: right;
  margin-top: 30%;
  font-size: 5vw;
}
.main__footer {
  grid-column: 1 / 5;
  grid-row: 6 / 7;
}
.footer__mobile {
  display: none;
}

// queries

@media screen and (max-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 3% 1fr 3%;
    grid-template-rows: 3% 5% 11.5% 1fr 1fr;
    width: 100vw;
    height: 100vh;
  }

  .main__navbar {
    grid-column: 2 / 3;
  }
  .main__listOfRooms {
    grid-column: 2/3;
  }
  .main__footer {
    display: none;
  }
  .footer__mobile {
    display: block;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  }
}
