@import '../../Variables.scss';

main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.register {
  display: flex;
  width: 100%;
  height: 100%;
  color: $color-secondary;
}

.register__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: inherit;
  padding: 0 6.5%;
  h1 {
    font-size: $medium-title;
    margin-bottom: 16%;
  }
}

.x {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  margin: 2% 2% 0 0;
  cursor: pointer;
}

.log {
  display: flex;
  flex-direction: column;
}

.input {
  border-style: none;
  border-bottom: 1px solid black;
  outline: none;
}

label {
  margin-bottom: 4.2%;
}

.name {
  margin-bottom: 41px;
}

input[type=submit] {
  @include boton_detail;
  width: 100%;
  height: 55px;
  font-size: $body-2;
  margin-top: 16%;
}

.typeOfUser {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

input[type=checkbox] {
  font-size: 16px;
}

.anfitrion {
  margin-left: -50px;
  &::before {
    content: "Anfitrion";
    margin-left: 20px;
  }
}

.usuario {
  margin-left: 100px;
  &::before {
    content: "Usuario";
    margin-left: 20px;
  }
}

.handleError {
  padding: 10px 0;
  font-size: $body-1;
  text-align: center;
  color: red;
}

// media queries

@media screen and (max-width: 768px) {
  .register {
    display: inline-block;
  }

  .register__content {
    margin: 0 auto;
    padding: 0 10%;
    width: 80%;
    height: 90%;
  }

  .x {
    right: -11%;
  }
}

@media screen and (max-width: 425px) {
  .register__content {
    h1 {
      font-size: $small-title;
    }
  }
    input[type=checkbox] {
    font-size: 12px;
  }
}
