@import '../../Variables.scss';

.home__transition {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.65) 11%,
    rgba(0, 0, 0, 0) 100%
  );
}

.home {
  display: grid;
  grid-template-columns: 3% 1.2fr 1fr 3%;
  grid-template-rows: 2% 4% 8% 1fr 5% 9%;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.imgur.com/FQxxUnj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home__title {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  align-self: center;
  h1 {
    margin-left: -1%;
    font-weight: bold;
    font-size: $big-title;
  }
  p {
    margin-bottom: -20px;
    font-size: $headline-2;
  }
}

.home__navbar {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.home__carrousel {
  position: relative;
  grid-column: 3 / 5;
  grid-row: 4 / 5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 1;
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 7px;
    background: white;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 7px;
  }
}

.carrousel__background {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
    width: 100%;
    height: 100%;
    background-color: $color-white-text;
    backdrop-filter: blur(250px);
    opacity: 0.65;
}

.home__footer {
  grid-column: 2 / 4;
  grid-row: 6 / 7;
  box-shadow: 0 0 10px rgba(95, 95, 95, 0.52);
}

// media-queries

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }
  .home__transition {
    position: absolute;
    background-image: linear-gradient(
    180deg,
    #000000 0%,
    rgba(95, 95, 95, 0.52) 30%,
    rgba(196, 196, 196, 0) 100%
  );
}
  .home__navbar {
    position: absolute;
    right: 0;
    left: 0;
    padding: 4%;
  }
  .home__title {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 0;
    padding: 0 4%;
    h1 {
      margin-left: -1%;
      font-weight: bold;
      font-size: $tablet-title;
    }
    p {
      margin-bottom: -10px;
      font-size: $body-2;
    }
  }
  .carrousel__background {
    position: absolute;
    top: 70%;
    border-radius: 22px 22px 0 0;
  }
  .home__carrousel {
    position: absolute;
    bottom: -1069px;
    height: auto;
    overflow-y: visible;
    overflow: visible;
  }
    .home__footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -117%;
    z-index: 4;
  }
}

@media screen and (max-width: 425px) {
  .home__title {
    h1 {
      font-size: $medium-title;
    }
    p {
      font-size: $small;
    }
  }
  .home__carrousel {
    bottom: -35%;
  }
  .home__footer {
    bottom: -50%;
  }
}