@import '../../Variables.scss';

.navbar {
  display: grid;
  background-color: transparent;
  grid-template-columns: repeat(3, 1fr);
  height: 50px;
  color: $color-white-text;
}

.navbar__imgContainer {
  width: 34px;
  height: 34px;
}

.navbar__navList {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  justify-content: flex-end;
}

.navbar__navList li {
  display: block;
  text-align: center;
  padding: 10px 10px;
}

.navbar__navList li:hover {
  cursor: pointer;
}
