@import '../../Variables.scss';

.navbar {
  display: grid;
  background-color: transparent;
  grid-template-columns: repeat(3, 1fr);
  height: 40px;
  color: $color-white-text;
}

.navbar__imgContainer {
  width: 34px;
  height: 34px;
}

.navbar__navList {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  justify-content: flex-end;
  line-height: 2;
}

.navbar__navList li {
  display: block;
  text-align: center;
  padding: 3px 10px;
}

.navbar__navList li:last-child {
  background-color: $color-primary;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
}

.navbar__navList li:hover {
  cursor: pointer;
}

.navbar__hamburguerMenu {
  display: none;
}

@media screen and (max-width: 375px) {
  .navbar {
    grid-template-columns: 30px 1fr 30px;
  }
  .navbar__imgContainer {
    width: 30px;
    height: 30px;
  }
  .navbar__navList {
    display: none;
  }
  .navbar__search {
    text-align: center;
  }
  .navbar__hamburguerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}