@import '../../Variables.scss';

.main {
  display: grid;
  grid-template-columns: 3% 1fr 1fr 3%;
  grid-template-rows: 2% 4% 6% 1fr 5% 10%;
  width: 100vw;
  height: 100vh;
}
.main__navbar {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.main__listOfRooms {
  grid-column: 2/3;
  grid-row: 4/5;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 7px;
    background: rgb(228, 228, 228);
  }
  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 7px;
  }
}
.main__title {
  grid-column: 3/4;
  grid-row: 4/5;
  color: $color-secondary;
  text-align: right;
  margin-top: 30%;
  font-size: 5vw;
}
.main__footer {
  grid-column: 1 / 5;
  grid-row: 6 / 7;
}

// queries

@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  .main__navbar {
    position: absolute;
    right: 0;
    left: 0;
    padding: 4%;
  }
  .main__title {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 0;
    padding: 0 4%;
    h1 {
      margin-left: -1%;
      font-weight: bold;
      font-size: $tablet-title;
    }
    p {
      margin-bottom: -10px;
      font-size: $body-2;
    }
  }
  .main__listOfRooms {
    position: absolute;
    bottom: -1069px;
    height: auto;
    overflow-y: visible;
    overflow: visible;
  }
  .main__footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -117%;
    z-index: 4;
  }
}

@media screen and (max-width: 425px) {
  .main__title {
    h1 {
      font-size: $medium-title;
    }
    p {
      font-size: $small;
    }
  }
  .main__carrousel {
    bottom: -35%;
  }
  .main__footer {
    bottom: -50%;
  }
}
